@import "./common.scss";

.collapse{
    width: 100%;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    &.open {
        background-color: $secondary-color;
      }
    .collapse-button{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        background-color: $primary-color;
        color: white;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .arrow {
            width: 20px;
            height: auto;
            transition: transform 0.3s ease-in-out;
          }
          .open {
            transform: rotate(180deg); // Pivote la flèche lorsqu'on ouvre le menu
          }  
    }
    .collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        padding: 0 10px;
        font-size: 1.4em;
      
        &.open {
          max-height: 400px; 
          opacity: 1;
          padding: 10px;
        }
        .collapse-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        
          .collapse-item {
            padding: 5px;
            background-color: #f8f8f8;
            border-radius: 5px;
            border: none;
          }
      }

}

@media (max-width: 767.98px){

  .collapse{

    .collapse-button{
      font-size: 1.0rem;
    }
    .collapse-content {
      font-size: 0.9em;
    }
  }

}

