@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$primary-color: #FF6060;
$secondary-color: #F6F6F6;

body{
    font-family: "Montserrat";

}
.body{
    margin-left: 200px;
    margin-right:200px;
}

