@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./common";
.logement-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .titre-tags{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 15px;
        .titre-logement{
            //font-family: "Montserrat";
            margin: 20px 0px 0px 0px;
            color: $primary-color;
            font-size: 2.6em;
            font-weight: 500;
            line-height: 143%;
        }
        .location{
            margin: 0px 0px 0px 0px;
            font-size: 1.3em;
            font-weight: 500;
            line-height: 143%;
        }
    }
    .hote-notes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
    }
}
.collapses{
    display: flex;
    gap: 60px;
    margin-bottom: 50px;
}
@media (max-width: 767.98px){
    .collapses{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 5px;
    }
    .logement-description{
        flex-direction: column;
        .hote-notes{
            flex-direction: row-reverse;
            align-items: center;
            margin-bottom: 0px;
            height: fit-content;
        }
        .titre-tags{
            .titre-logement{
                font-size: 1.4em;
                
            }
            .location{
                font-size: 1.1em;
            }

        }
    }
}
