@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./common";

.logement-description{
    display: flex;
    justify-content: space-between;
    .titre-logement{
        //font-family: "Montserrat";
        color: $primary-color;

    }
}