@import "./common";

.error404{
    margin:70px;
    display: flex;
    flex-direction: column;
    //font-family: "Montserrat";
    color: $primary-color;
    align-items: center;
    gap: 50px;
    .error-title{
        font-size: 12em;
        font-weight: 700;
        margin:0;
        
    }
    .error-text{
        font-size: 1.7em;
        font-weight: 500;

    }
    .link{
        font-size: 1em;
        text-decoration: underline;
        color: black;
    }
}
@media (max-width: 767.98px){
    .error404{
        margin:150px 20px 150px 20px;
        .error-title{
            font-size: 6em;
            
        }
        .error-text{
            text-align: center;
            font-size: 1.3em;
            font-weight: 500;
    
        }
    }
}