@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
.header{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 15px;
    .link{
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 1.4em;
        color: black;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
