@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./common";
.host{
    display:flex;
    margin-top:15px;
    gap:10px;
    .host-cover{
        object-fit: cover;
        border-radius: 50%;
        height: 64px;
    }
    .host-name{
        
        color: $primary-color;
        font-size: 1.3em;
        font-weight: 500;
    }
}