@import "./common.scss";
.note{
    display: flex;
    gap: 5px; // Espacement entre les étoiles
    margin: 10px 0;
    align-items: right;
}
.star {
    font-size: 1.5rem;
  
    &.filled {
      color: $primary-color; 
    }
  
    &.empty {
      color: #ccc; // Couleur des étoiles vides
    }
}
@media (max-width: 767.98px){
  .star {
    font-size: 1rem;
  }
}