@import "./common.scss";

.tag-list{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    .tag{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        padding: 4px 30px 4px 30px;
        height: fit-content;
        border-radius: 10px;
        font-size: 1.1em;
        font-weight: 700;
        background-color: $primary-color;
        color: white;
    }
}
@media (max-width: 767.98px){
    .tag-list{
        flex-wrap: wrap;
    }
}