@import "./common.scss";

.tag-list{
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    .tag{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        padding: 4px 30px 4px 30px;
        border-radius: 10px;
        font-weight: 700;
        background-color: $primary-color;
        color: white;
    }
}